* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #1d1d1d;
  color: #dbdbdb;
}

.portada {
  background: #100a1f;
  color: #e0e0e0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  font-size: 46px;
  text-shadow: 2px 1px 20px rgba(255, 255, 255, 0.612);
}

.buscador {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.buscador button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 200px;
  background: #241744;
  color: #fff;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: 0.3s ease all;
}

.buscador input[type="text"] {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 400px;
  background: #fff;
  color: #241744;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: 0.3s ease all;
  margin-bottom: 10px;
  padding: 0 20px;
  box-sizing: border-box;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 100px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.contenedor .pelicula {
  text-align: center;
  position: relative; /* Posicionamiento relativo para contener detalles */
}

.contenedor .pelicula .titulo {
  font-size: 16px;
  font-weight: 600;
}

.contenedor .pelicula .poster {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
}

.detalles-pelicula {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(48, 48, 48, 0.9);
  padding: 10px;
  border-radius: 15px;

  z-index: 1; /* Asegúrate de que esté por encima de la imagen */
}

.contenedor .pelicula:hover .detalles-pelicula {
  display: block; /* Mostrar detalles cuando se pasa el mouse sobre la imagen */
}

.paginacion {
  bottom: 0;
  background: #100a1f;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.paginacion button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 200px;
  background: #241744;
  color: #fff;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: 0.3s ease all;
}

.paginacion button:hover {
  background: #137c32;
}
